.education__container{
    align-items: center;
    opacity: 0;
    transform: scale(85%);
    transition: 1s;
}


.education__container--zoom{
    opacity: 1;
    transform: scale(100%);
    transition: 1s; 
}

@media screen and (max-width: 500px) {
    .education__container--zoom{
        display: flex;
        flex-direction: column;      
    }
}
.education__container h1, h2, h3{
    font-size: larger;
}


p{
    color: rgb(36, 134, 36);
    font-size: 16px;
}

.contacts_float_right{
    border-bottom: 1px solid rgb(159, 151, 151);
    margin-top: 50px;
    right: 4px;
    bottom: 3px;
}



.contacts_float_right h2{
    color:black;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
}


.footer_img{
    width: 22px;
    margin: 5px;
    
}
