.slider{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-right: -100%;


    opacity: 0;
    transform: scale(85%);
    transition: 1s;
}

.slider--zoom{
   opacity: 1;
   transform: scale(100%);
   transition: 1s; 
   margin-right: 0;
}

.slider_img{
    width: 30%;
    border-radius: 5px;
}

.slider_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.slider_title{
    text-align: center;
}

.my__tecnologies{
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    column-gap: 20px;
    padding-left: 15px;
    border-left: 3px solid green;
}

.span_img{
    width: 60px;
    padding: 10px;
    margin-left: 20px;
}